
img{
  width:100px; 
  display: block;
  
}
html{
  font-family: arial;
  text-align: center;
  color: darkblue;
  background-color: lightblue;
}

body {
background-color: white;
height: 400px;
padding: 50px;
border: 5px solid blue;
}
